body {
    display: grid;
}

#loginDiv, #studentDiv, #teacherDiv{
    grid-column: 1;
    grid-row: 1;
}

#loginJumbotron{
    background-color: white;
}

#failedReg{
    visibility: hidden;
    margin-top: 10px;
}

#failedLogin{
    visibility: hidden;
    margin-top: 10px;
}

#loginDiv{
    visibility: visible;
}

#teacherDiv{
    visibility: hidden;
}

#studentDiv{
    visibility: hidden;
}

#upper {
    text-align: center;
    color: rgb(66, 66, 66);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10vw;
}

.transparent {
    background-color: transparent;
}

.btn1 {
    color: white;
    border-color: #FFC859;
    border-radius: 100%;
}

.nav-link {
    color: white;
}

.carousel-item {
    transition: none;
}

#textkozep {
    text-align: center;
}

.kozep {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#submit {
    background-color: dimgray;
}

#gombnak {
    padding-top: 3vh;
    text-align: center;
    padding-bottom: 3vh;
}

.navbar-margin {
    margin-top: 10px;
}

#failedLogout{
    visibility: hidden;
    margin-top: 10px;
}

.margin-bottom{
    margin-bottom: 50px;
}

#bronze{
    visibility: hidden;
}

#silver{
    visibility: hidden;
}

#gold{
    visibility: hidden;
}

.badge{
    width: 3vh
}