body {
    display: grid;
}

#loginDiv, #studentDiv, #teacherDiv {
    grid-column: 1;
    grid-row: 1;
}

#loginJumbotron {
    background-color: white;
}

#failedReg {
    visibility: hidden;
    margin-top: 10px;
}

#failedLogin {
    visibility: hidden;
    margin-top: 10px;
}

#timer {
    text-align: center;
    color: rgb(66, 66, 66);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4vw;
}

.navbar-student {
    margin-top: 10px;
}

#failedLogout {
    visibility: hidden;
    margin-top: 10px;
}

.margin-bottom {
    margin-bottom: 50px;
}

.badges {
    width: 3vh;
}

.menu {
    margin-top: 5px;
}

.center {
    text-align: center;
}

#taskDoneButton {
    visibility: hidden;
}

#loginDiv {
    visibility: visible;
}

#teacherDiv {
    visibility: hidden;
}

#studentDiv {
    visibility: hidden;
}

#gold {
    visibility: hidden;
}

#silver {
    visibility: hidden;
}

#bronze {
    visibility: hidden;
}